{% extends "layout.html" %}
{% load bootstrap5 %}
{% block title %}
subscribe
{% endblock %}
{% block content %}
<div class="h3 p-1 mb-2">Twitter ID by @Username</div>
<form method="post">
    {% include "tweets/subsc_error.html" %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>
{% if result %}
{{result.data.id}} : {{result.data.name}}
{% endif %}
{% endblock %}